{% extends "base.html" %} {% block content %}

<div class="main">
	<div class="title" style="width: 60%; margin: auto">
		<h3 style="text-align: center">About</h3>
		<h4>The project</h4>
		<p>
			This is a binary image classifier, categorizing chest X-rays of people as 'pneumonic' or 'normal'.
			<br>
			The prediction is done through a ConvNet trained on 5000+ images from a <a href="http://">Kaggle Dataset</a>. We used data augmentation, max pooling and batch normalization to reduce the variance problems in the model. Managed to acheive 0.94 recall and 0.91 f1-score.
			<br>
			For detailed info on the model, see <a href="http://">this</a> file.
			<br>
			<br>
			We integrated this into a web app using Flask, a python micro framework. Took the help of this <a href="http://">GitHub repo</a>, modified the homepage(index.html) and the main flask file(app.py) to suit the model. Moreover, added another <a href="http://">ABOUT</a> page with details of the project.
			<br>
			Deployment is done through THIS platform and something more
			<br>
			<br>
			You can see the <a href="http://">souce code</a> uploaded on GitHub
		</p>
		<br>
		<h4>Who we are</h4>
		<p>
			Our names are 'Naman Shah' and 'Naman Mehta', we are IT undergrads studying in Mumbai, India. At first we started working to make a classifier independently, then collaborated to integrate it into a web app and deploy it as a complete project.
			<br>
			<br>
			Naman Shah: Deep Learing (tensorflow), backend dev (node, flask), frontend dev(HTML, CSS, Bootstrap, JS)
			<br>
			Find me here:
			<br>
			<i class="fab fa-github"></i> <a href="#">namanshah01</a>
			<br>
			<i class="fab fa-linkedin"></i> <a href="#">namanshah01</a>
			<br>
			<br>
			Naman Mehta: NOOB
			<br>
			Find me here:
			<br>
			<i class="fab fa-github"></i> <a href="#">shadyass</a>
			<br>
			<i class="fab fa-linkedin"></i> <a href="#">fakeAcc</a>
		</p>
	</div>
</div>

{% endblock %}
